[Unit]
Description=Server start hook
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=||WORKSPACE||
ExecStart=python3 ||WORKSPACE||/server-start-hook.py --endpoint ||ENDPOINT|| --api-key ||API_KEY||
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target